<h1 class="d-flex justify-content-center">Todos nuestros productos</h1>

<ul class="list-group">
    {{#each products}}    
        <li class="list-group-item">
            {{this.title}} - ${{this.price}}
        </li>    
    {{/each}}
</ul>

<div class="d-flex justify-content-center mt-3">
    {{#if (gt currentPage 1)}}
        <a href="/?page={{subtract currentPage 1}}" class="btn btn-primary">Anterior</a>
    {{/if}}

    <span class="mx-3">Página {{currentPage}} de {{totalPages}}</span>

    {{#if (lt currentPage totalPages)}}
        <a href="/?page={{add currentPage 1}}" class="btn btn-primary">Siguiente</a>
    {{/if}}
</div>